@import 'utils';

.viewer-template {

    header {
        display: flex;
        align-items: center;

        background: $oc-gray-9;
        height: 5rem;
        padding: 1rem;
        font-size: 2rem;

        color: white;
        font-weight: 600;

        @include media("<tablet") {
            font-size: 1.25rem;
        }

        span {
            margin-right: 10px;
        }
    }

    .viewer-wrapper {
        position: relative;
        width: 100%;
        height: calc(100vh - 5rem); // 페이지에서 헤더를 제외한 영역 모두 채우기
    }
}
